<div class="row">
    <div class="col-xs-4">
        <?= $ctx->elems->conf->copyright ?>
        <br/>
        based upon <a href="https://github.com/codeabbey/src">CodeAbbey opensource</a>
    </div>
    <div class="col-xs-4 text-center">
        <a href="<?= url('wiki', 'param', 'copyright') ?>">Contacts and Support</a>
        <br/>
        <a href="https://github.com/codeabbey/meta">Issues and Ideas</a>
    </div>
    <div class="col-xs-4 text-right">
        <a href="<?= url('wiki', 'param', 'privacy-policy') ?>">Privacy Policy</a>
    </div>
</div>
<div class="hidden" data-referrer="<?= $model->httpReferrer ?>"/>
<script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>
