<ul class="nav navbar-nav">
<li><a href="<?= url('main') ?>" title="Login and Main info">Home<?= $ctx->auth->loggedUser() === null ? ' / Login' : '' ?></a></li>
<li><a href="<?= url('task_list') ?>" title="Programming problems list">Problems</a></li>
<li class="hidden-xs"><a href="<?= url('user_ranking') ?>" title="Programmer rating list">Ranking</a></li>
<li><a href="<?= url($ctx->elems->conf->singleForum ? 'forum_view' : 'forum_main') ?>">Forum</a></li>
<li class="hidden-xs"><a href="<?= url('wiki', 'param', 'help') ?>">Help</a></li>
<li class="hidden-xs"><a href="<?= url('mess_hall') ?>">Mess</a></li>
</ul>

<?php if ($ctx->auth->loggedUser() !== null): ?>
<span class="inlined float-right menu-icons">
    <?php if (!$ctx->auth->admin()): ?>
    <a href="<?= url('task_random') ?>" class="hidden-xs with-image" title="Random Task yet Unsolved">
        <img src="<?= aurl('img/random.png') ?>" alt="random task"/>
    </a>
    <a href="<?= url('user_settings') ?>" class="with-image" title="Settings for your account">
        <img src="<?= aurl('img/settings.png') ?>" alt="user's settings"/>
    </a>
    <a href="<?= url('user_profile') ?>" class="with-image" title="Your profile (<?= $ctx->auth->username() ?>)">
        <img src="<?= aurl('img/profile.png') ?>" alt="user's profile"/>
    </a>
    <?php endif; ?>
    <a href="<?= url('logout') ?>" class="with-image" title="Logout">
        <img src="<?= aurl('img/logout.png') ?>" alt="logout"/>
    </a>
</span>
<?php endif; ?>

<span class="inlined float-right clock hidden-xs" title="<?= date('M j Y') ?> - server time (GMT)" data-time="<?= time() ?>">
    <?= date('H:i:s') ?>
</span>


