<div class="modal fade" id="attemptModal" tabindex="-1" role="dialog"
    aria-labelledby="attemptTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="attemptTitle">
                    <span class="strong">Thanks for your Submission Attempt</span>
                    <a href="#" class="float-right"
                        data-dismiss="modal">(close)</a></h5>
            </div>
            <div class="modal-body"
                style="font-family:courier,monospace;">

<div id="attempt-msg">
    Please kindly wait a bit for results...
</div>

<div id="attempt-result">
    <div>Expected answer was:<br/>
        <textarea id="attempt-expected" class="full-width"></textarea>
    </div>

    <div class="hider">
        <span><a href="#" class="click-to-see">Click</a> to view answer you 
            submitted...</span><br/>
        <span class="hidden">Your answer was:</span>
        <textarea id="attempt-answer" class="full-width hidden"></textarea>
    </div>

    <div class="hider">
        <span><a href="#" class="click-to-see">Click</a> to view input data if you 
            haven't saved it...</span><br/>
        <span class="hidden">Your input data:</span>
        <textarea id="attempt-input" class="full-width hidden"></textarea>
    </div>
</div>
            </div>
        </div>
    </div>
</div>


