<div class="modal fade" id="errorsModal" tabindex="-1" role="dialog"
    aria-labelledby="errorTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorTitle">
                    <span class="strong">Errors happened!</span>
                    <a href="#" class="float-right"
                        data-dismiss="modal">(close)</a></h5>
            </div>
            <div class="modal-body"
                style="font-family:courier,monospace;white-space:pre-wrap;">
            </div>
        </div>
    </div>
</div>


