    <div class="col-xs-5">
        <table id="code-tools" class="centered full-width" style="border:1px solid #888">
           <tr><td>
                    <span class="strong">Code Running Tools</span>
                    <br/><br/>
            </td></tr>
            <tr>
                <td>
                    <input type="button" id="run-javascript" value="JavaScript" title="Read from 'input()', write to 'output(...)'"/><br/>
                    <br/><br/>
                    <span class="strong">Web Compilers</span><br/>
                    <a href="http://ideone.com" target="_blank">IdeOne.com</a><br/>
                    <a href="http://codepad.org" target="_blank">CodePad.org</a>
                </td>
            </tr>
        </table>
    </div>
